*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    
}

.no-overflow {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ul{
    width: 58rem;
}
.carousel-item{
    position: relative;
}
.car-card{
    position: absolute;
    top: 10%;
    left: 3%;
    z-index: 9999;
}

.img-20{
    width: 18%;
  }

  .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.six-people i{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* font-size: 18px; */
}

.six-people i:hover{
    transform: translateX(-50px);
}

.backgroundimg{
    background-image: url('./images/banner3.webp'); /* Change the path to your image */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 500px; /* Sets a height for the div */
    position: relative; /* Required for positioning children elements */
    color: white; /* Sets the text color to white for better visibility */
}

.backgroundimg div{
    color: black;
    position: absolute;
    top: 40%;
    left: 10%;
   
    
}

footer{
    background-color: #F2F2F2;
    
}

footer p{
    font-size: 11px;
}

footer h6{
    font-size: 15px;
}

.transparent-bg{
    background-color: transparent;
    border: none;
}



